body{
    background-image: linear-gradient(to bottom, #f49b4a, #ec903e, #e38532, #db7926, #d26e19, #cd6612, #c95e0a, #c45602, #c24f03, #c04804, #be4005, #bc3807);
}

#titulo{
    font-family: "Climate Crisis", sans-serif;
    color:darkgoldenrod;
    font-size:50px;
}

#pestania{
    color: darkorange;
    font-family: "Bubblegum Sans", sans-serif;
    display: inline;
    position: relative;
    text-align: right;
}

.links{
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    font-size: 15px;
    position:relative;
    display: block left;
}

.burgers{
    color:rgb(246, 224, 204);
    font-family: "Bubblegum Sans", sans-serif;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}
section{
    overflow: hidden;
}
p{
    margin-left: 10px;
    width: 200px;
}

.cajas{
    height: 300px;
    width: 200px;
    padding: 15px;
    margin-bottom: 10px;
    margin-right: 10px;
    box-shadow: 10px 10px 30px black;
    border-radius: 25px;
    float: left;
}
img{
    width: 150px;
    margin-left: 20px;
}
/* .fa-3x1{
    font-size:3em ;
} */
/* .caja-whatsapp{
    background-color: #25d366;
    position: fixed;
    margin-bottom: 25px;
    margin-right: 25px;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    line-height: 110px;
    text-align: end;
}
 */
.whatsapp{
    background-color: none;
    height: 60px;
    width: 60px;
    position: fixed;
}


/* background-color: #25d366;
position: fixed;
bottom: 25px;
right: 25px;
border-radius: 50%;
width: 90px;
height: 90px;
line-height: 110px; */